@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --color-white: #fff;
  --color-yellow: #ff9100;
  --color-gray: #73777d;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 80px;
  font-size: 85px;
  font-weight: bold;
  font-family: "Itim", cursive;
  letter-spacing: 25px;
  color: var(--color-yellow);
}

body {
  background-color: #16181b;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 180px;
  height: 70px;
  color: var(--color-gray);
  padding-right: 40px;
  border-bottom: 1px solid var(--color-gray);
  position: relative;
}

.header-left-name {
  width: 280px;
  position: absolute;
  left: 0;
  padding-right: 25px;
  background-color: #16181b;
  text-align: end;
}

.header-left ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.header-left li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-gray);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.header-left li img:hover {
  background-color: var(--color-yellow);
  transform: scale(1.1);
}

.header-right {
  display: flex;
  gap: 140px;
}
.visited {
  color: var(--color-yellow);
}

.header-right ul li a {
  color: var(--color-gray);
  text-decoration: none;
}

.header-right ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header-right li {
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
}
.header-right li:hover {
  color: var(--color-yellow);
}

section {
  margin: 20px 50px 30px 0px;
  display: flex;
  justify-content: end;
  gap: 40px;
}

.section-input input {
  padding: 5px;
  padding-right: 25px;
  margin: 5px 7px 0px 0px;
  background-color: transparent;
  color: var(--color-gray);
  border: none;
  border-bottom: 1px solid var(--color-gray);
  outline: none;
}
.section-input {
  position: relative;
}
.section-input img {
  height: 17px;
  width: 17px;
  position: absolute;
  top: 4px;
  right: 12px;
}

.section-paragraph {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 17px;
  letter-spacing: 1px;
  color: var(--color-gray);
}

.basketIcon a{
  text-decoration: none;
  color: var(--color-gray);
}
.basketIcon a:hover {
  color: var(--color-yellow);
}

.section-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-yellow);
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.section-btn button:hover {
  background-color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-left {
  display: flex;
  flex-direction: column;
  margin-top: 280px;
}

.main-left h1 {
  width: 450px;
  margin: 0 0 10px 50px;
  font-size: 48px;
  color: rgb(159, 159, 159);
  white-space: nowrap; 
  overflow: hidden; 
  animation: typing 5s forwards, changeWord 11s 7s forwards;
}

@keyframes typing {
  0% {
    width: 0; 
  }
  50% {
    width: 100%; 
  }
  100% {
    width: 100%; 
  }
}

@keyframes changeWord {
  0% {
    width: 0; 
  }
  50% {
    width: 100%; 
  }
  55% {
    width: 0; 
  }
  100% {
    width: 100%; 
  }
}
.main-left h2 {
  margin-left: 50px ;
  font-size: 48px;
  color: rgb(159, 159, 159);
  white-space: nowrap; 
  overflow: hidden; 
  animation: typing 6s forwards, changeWord 11s 7s forwards;
}

@keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: 100%; 
  }
}
.main-left h2::after {
  content: "|"; 
  animation: blink 0.8s infinite; 
  color: rgb(159, 159, 159);
  margin-left: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-left p {
  margin: 40px 0px 40px 150px;
  font-size: 16px;
  color: var(--color-yellow);
  position: relative;
}
.main-left p::before {
  position: absolute;
  left: -100px;
  top: 50%;
  content: " ";
  display: block;
  width: 80px;
  height: 2px;
  background-color: var(--color-yellow);
}

.btn-main-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 70px;
  width: 300px;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: var(--color-yellow);
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;
}

.main-right {
  margin-top: 10px;
  margin-left: 250px;
  overflow-x: auto;
  scrollbar-width: none;
  border-radius: 15px;
}

.main-right ul {
  display: flex;
  gap: 20px;
  animation: scroll-back-forth 30s linear infinite;
  opacity: 0.9;
}

@keyframes scroll-back-forth {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-550px);
  }
  100% {
    transform: translateX(0);
  }
}

.main-right ul li {
  cursor: pointer;
  list-style: none;
  transition: 0.4s ease-in-out;
}
.main-right ul li:hover {
  transform: scale(1.04);
  filter: opacity(0.8);
}

footer {
  margin-top: 155px;
  height: 40px;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
footer ul li a {
  font-size: 19px;
  color: var(--color-gray);
  text-decoration: none;
  cursor: pointer;
  position: relative; 
  transition: color 0.4s ease-in-out; 
}

footer ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-yellow);
  transition: width 0.4s ease-in-out; 
}

footer ul li a:hover {
  color: var(--color-yellow);
}

footer ul li a:hover::after {
  width: 100%; 
}



/* НЕ ДОДЕЛАНО */
@media (max-width: 1461px) {
  .header-left-name {
    display: none;
  }
  header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }
  .header-left ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-left: 40px;
  }
  .header-left li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-gray);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .header-right ul {
    display: flex;
    gap: 10px;
  }
  .header-right ul li {
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .header-right {
    display: flex;
    gap: 20px;
  }
  .header-right ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  section {
    margin: 20px 50px 30px 0px;
    display: flex;
    justify-content: end;
    gap: 30px;
  }
  .section-paragraph {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-gray);
  }
  .section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
  }
  .main-left {
    margin-top: 235px;
  }
  .main-left h1 {
    width: 450px;
    margin: 0 0 10px 50px;
    font-size: 42px;
    color: rgb(159, 159, 159);
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 5s forwards, changeWord 11s 7s forwards;
  }
  .main-left h2 {
    margin-left: 50px ;
    font-size: 42px;
    color: rgb(159, 159, 159);
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 6s forwards, changeWord 11s 7s forwards;
  }
  .main-left p {
    margin: 40px 0px 35px 150px;
    font-size: 15px;
    color: var(--color-yellow);
    position: relative;
  }
  .btn-main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 70px;
    width: 300px;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--color-yellow);
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
  }
  .main-right ul img{
    display: flex;
    gap: 20px;
    height: 520px;
  }
  footer {
    margin-top: 130px;
    height: 40px;
  }
}

/* НЕ ДОДЕЛАНО */
@media (max-width: 430px) { 
  header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }
  .header-left ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding-left: 40px;
  }
  .header-left li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-gray);
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .header-right ul {
    display: flex;
    gap: 10px;
  }
  .header-right ul li {
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .header-right {
    display: flex;
    gap: 20px;
  }
  .header-right ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  section {
    margin: 20px 50px 30px 0px;
    display: flex;
    justify-content: end;
    gap: 30px;
  }
  .section-paragraph {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-gray);
  }
  .section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    width: 100px;
    height: 30px;
  }
  .main-left {
    margin-top: 235px;
  }
  .main-left h1 {
    width: 450px;
    margin: 0 0 10px 50px;
    font-size: 42px;
    color: rgb(159, 159, 159);
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 5s forwards, changeWord 11s 7s forwards;
  }
  .main-left h2 {
    margin-left: 50px ;
    font-size: 42px;
    color: rgb(159, 159, 159);
    white-space: nowrap; 
    overflow: hidden; 
    animation: typing 6s forwards, changeWord 11s 7s forwards;
  }
  .main-left p {
    margin: 40px 0px 35px 150px;
    font-size: 15px;
    color: var(--color-yellow);
    position: relative;
  }
  .btn-main-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 70px;
    width: 300px;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--color-yellow);
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
  }
  .main-right ul img{
    display: flex;
    gap: 20px;
    height: 520px;
  }
  footer {
    margin-top: 130px;
    height: 40px;
  }
}